---
layout: archive
title: "Personal Projects"
permalink: /projects/
author_profile: true
---

<!-- {% include base_path %}



{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->



<ul>
<li>Lasso Regularized Logistic Regression classifier for COVID detection</li>
<p>This project is regarding a Lasso Regularized Logistic Regression model intended to detect covid-19 from Raman spectroscopy.As the number of features was very large compared to number of observations , we resorted to Lasso regression to avoid overfitting . The model is initialized with a liblinear solver along with L1 (lasso) penalty.The model achieved 97% accuracy on the test dataset . </p>

<li>Customer Churn Prediction Web App </li>
<p>A multi layer perceptron classifier based web app to predict customer churn in context to telecom industry.This project has been deployed to heroku utilizing Flask web framework  </p>


</ul>